.app {
  margin: 1rem auto;
  width: 75%;
  padding: 1rem;
  background: white;
  box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
  border-radius: 10px;
}

.app h1 {
  margin: 0;
  text-align: center;
}

.centeredBtn {
  display: flex;
  margin: auto;
}

.centeredText {
  text-align: center;
}
